{% extends 'tokens/generate_tokens.html' %}
{% block events_block %}
{% for event in events_list %}
<div class="list-group w-auto">
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <div>
            <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" class="form-control" name="eventId" value="{{ event.eventId }}">
          <h6 class="mb-0">{{ event.organiser }} - {{ event.name }}</h6>
          <p class="mb-0 opacity-75"> {{ event.description }}</p>
          <p>Status: {{ event.state }}</p>
          <button class="btn btn-primary {% if event.btDisabled %}disabled{% endif %}" type="submit">Generate Token</button>
            </form>
        </div>
        <small class="opacity-50 text-nowrap">now</small>
    </a>
  </div>
{% endfor %}
{% endblock %}