{% extends 'home/home.html' %}
{% block events_block %}
{% for event in events_list %}
<!-- <div class="feeds">
  <div class="feed">
      <div class="head">
          <div class="user">
              <div class="searchName">
                  <a href="#">
                      <h3>St. Vincent de Paul</h3>
                  </a>
              </div>
          </div>
      </div>
      <div class="photo">
          <img src="{% static 'images/svp.png' %}" alt="Look Like This">
      </div>
      <div class="caption">
          <p>placeholder caption</p>
      </div>
      <div class="interest">
        <a href="#"><button class="btn btn-primary">Interested</button></a>
        <a href="#"><button class="btn btn-secondary">Not Interested</button></a>
      </div>
  </div>
</div> -->
<p>Hi</p>
{% endfor %}
{% endblock %}